.navbar {
  background-color: #FFFFFF;
}
  
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

.nav-link {
  font-weight: normal;
  color: #0b3954;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand {
  font-size: 34px;
  font-weight: bold;
  color: #0b3954;
  font-family: 'Poppins', sans-serif;

}

.link-active {
  color: wheat;
}