.navbar {
  background-color: #FFFFFF;
}
  
.nav-link {
  font-weight: normal;
  color: #0b3954;
  font-family: 'Poppins', sans-serif;
  margin: 0 10px;
}

.navbar-brand {
  font-size: 34px;
  font-weight: bold;
  color: #0b3954;
  font-family: 'Poppins', sans-serif;

}

.link-active {
  color: wheat;
}