.card {
    padding: 15px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #0b3954;
    font-family: 'Poppins', sans-serif;
}
.container {
    padding-left: 5%;
}

.btn {
    margin-top: 10px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
    color: #0b3954;
}

.btn:hover {
    border: solid 2px #FFFF;
    color: #FFFF;
    background-color: #47C2FF;
}

label {
    color: #0b3954;
    font-weight: 600;
}

.form-group {
    padding-top: 14px;
}

@media (max-width: 767px) {
    /* Ensure the form control is not wider than the screen */
    .form-control[type="date"] {
      max-width: 100%;
      box-sizing: border-box; /* Makes sure padding and border are included in the width */
    }
}