<h1>Total Shower reports</h1>

<div class="table-responsive">
  <div class="card">
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="report.length">
    <thead>
      <tr class="table-header">
        <th>Date</th>
        <th class="hide-on-mobile">Hair washed ?</th>
        <th class="hide-on-mobile">Body washed ?</th>
        <th class="hide-on-mobile">Shampoo used</th>
        <th class="hide-on-mobile">Shower Gel used</th>
        <th class="hide-on-mobile">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of report">
          <td data-label="Date">{{ report.date | date: 'dd/MM/yyyy' }}</td>
          <td data-label="Hair washed ?" class="hide-on-mobile">{{ report.hair }}</td>
          <td data-label="Body washed ?" class="hide-on-mobile">{{ report.body }}</td>
          <td data-label="Shampoo used" class="hide-on-mobile">{{ report.shampoo }}</td>
          <td data-label="Shower Gel used" class="hide-on-mobile">{{ report.showerGel }}</td>
          <td>
              <!-- Delete button -->
              <button class="btn btn-danger btn-sm" (click)="deleteReport(report.id)">Delete</button>
          </td>
      </tr>
  </tbody>
  </table>
  </div>
  
</div>
