<p class="table-label">Shower Report</p>

<p class="under-label">Look at your last showers</p>

<p *ngIf="!report?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="report.length">
  <thead>
    <tr>
      <th>Date</th>
      <th>Hair washed ?</th>
      <th>Body washed ?</th>
      <th>Shampoo used</th>
      <th>Shower Gel used</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let report of report">
      <td>{{ report.date }}</td>
      <td>{{ report.hair }}</td>
      <td>{{ report.body }}</td>
      <td>{{ report.shampoo }}</td>
      <td>{{ report.showerGel }}</td>
    </tr>
  </tbody>
</table>
