.table {
    background-color: white;
}

.table-label{
    font-size: 24px;
    font-weight: bold;
    color: #0b3954;
    font-family: 'Poppins', sans-serif;
}

.under-label {
    font-size: 14px;
    font-weight: bold;
    color: #0b3954;
    font-family: 'Poppins', sans-serif;
}