/* Inside src/styles.css or another global stylesheet */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'),
         url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
         url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    src: local('Poppins Bold'), local('Poppins-Bold'),
         url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  }
  /* Add more @font-face rules for other weights and styles as needed */
  
body {
    background-color: #47C2FF;
    font-family: 'Poppins', sans-serif;

}